@import "tailwindcss";
@config "./tailwind.config.js";

@layer base {
  body {
    font-family: 'Hind Siliguri', sans-serif;
  }
}

@layer utilities {

  /* Hide scrollbar for clean horizontal scrolling */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}